@model Tally.Models.Course

@{
    ViewData["Title"] = "Details";
    var users = (List<ApplicationUser>)ViewData["Users"];
}

<div class='page-header'>
    @if (User.IsInRole("Professor"))
    {
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a class="btn btn-primary" asp-action="Create" asp-controller="Lectures" asp-route-id="@Model.CourseId">Create <span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
    }

    <h2>@Html.DisplayFor(model => model.Name) <small><em>@Model.Professor.FirstName @Model.Professor.LastName</em></small></h2>
    <p class="text-justify">@Html.DisplayFor(model => model.Description)</p>
</div>


<h4>Students</h4>
<div class="list-group">
    @if (users != null)
    {
        foreach (var user in users)
        {
            @if (User.IsInRole("Professor"))
                    {
                <a class="list-group-item" asp-action="Details" asp-controller="Signatures" asp-route-student="@(user.Id)" asp-route-course="@(Model.CourseId)">@user.FirstName @user.LastName <em>@user.Email</em></a>
            }
            else
            {
                <span class="list-group-item">@user.Email</span>
            }
        }
    }
</div>
<h4>Lectures</h4>
<div class="row">
    @if (Model.Lectures != null)
    {
        foreach (var item in Model.Lectures)
        {
            <div class="col-xs-18 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                        <h6>@Html.DisplayFor(modelItem => item.StartDate)</h6>
                        <p class="text-justify">@Html.DisplayFor(modelItem => item.Description)</p>
                        <a class="btn btn-default btn-xs" role="button" asp-action="Details" asp-controller="Lectures" asp-route-id="@item.LectureId"><i class="glyphicon glyphicon-search"></i></a>
                        @if (User.IsInRole("Professor"))
                    {
                            <a class="btn btn-info btn-xs" role="button" asp-action="Edit" asp-controller="Lectures" asp-route-id="@item.LectureId"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a class="btn btn-danger btn-xs pull-right" asp-action="Delete" asp-controller="Lectures" asp-route-id="@item.LectureId"><i class="glyphicon glyphicon-trash"></i></a>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>

<a asp-action="Index" asp-controller="Home">Back to courses</a>
