@model IEnumerable<Tally.Models.Course>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    var id = UserManager.GetUserId(User);
}

<div class='page-header'>
    @if (User.IsInRole("Professor"))
    {
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a class="btn btn-primary" asp-controller="Courses" asp-action="Create">Create <span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
    }
    <h2>Courses</h2>
</div>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item clearfix">
            <span>@item.Name <small><em>@item.Professor.FirstName @item.Professor.LastName</em></small></span>
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    @if (User.IsInRole("Student") && !item.CourseUsers.Any(u => u.Id == id))
                    {
                        <form asp-action="Enroll" asp-controller="Courses" asp-route-id="@item.CourseId">
                            <input type="submit" value="Enroll" class="btn btn-info" />
                        </form>
                    }
                    else
                    {
                        <a class="btn btn-secondary" asp-action="Details" asp-controller="Courses" asp-route-id="@item.CourseId"><span class="glyphicon glyphicon-search"></span></a>
                    }
                    @if (User.IsInRole("Professor"))
                    {
                        <a class="btn btn-secondary" asp-action="Edit" asp-controller="Courses" asp-route-id="@item.CourseId"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-secondary" asp-action="Delete" asp-controller="Courses" asp-route-id="@item.CourseId"><span class="glyphicon glyphicon-trash"></span></a>
                    }
                </div>
            </div>
        </li>
    }
</ul>