@model Tally.Models.ApplicationViewModels.Lecture
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    var current = UserManager.GetUserId(User);
}

<div>
    <h4>Lecture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<div>
    <ul class="list-group">
        @foreach (var user in Model.Course.Users)
        {
            <li class="list-group-item">
                <form>
                    @user.UserName
                    @if (user.Id == current)
                    {
                    <input type="text" class="form-control" />
                    <input type="submit" class="btn btn-default" value="Save"/>
                    }
                </form>
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LectureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
